/****
==============================
GLOBAL RESET
==============================
****/
body {
    padding: 0;
    margin: 0;
    
}

ul,li,ol
{
list-style: none;

}

table{
	border-collapse: collapse;
	border-spacing: 0;

}
/*----------------header---------------*/


.container
{
	width: 1170px;
	margin:0  auto;
	overflow: hidden;

}
header
{   width: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: 678;
}

header .logo
{
	
	padding: 15px 0;
    display: block;
    float:left;
}

header .navbar
{
    padding: 10px 0;
    margin:0px;
    display:block;
    float: right;
    
}
header .navbar ul li {
	
	
	margin-right: 25px;
	margin-top: 20px;
	float: right;
}

header .navbar ul li a {
	
	color: #ffff;
	text-decoration: none;
}


/*----banner-----*/


.banner
 {

	width: 100%;
    overflow: hidden;
    background-image: url(../images/nav_banner.jpg); 
 	background-size: cover;
 	height: 600px;
    position: relative;
    display: block; 
    margin-bottom: 40px; 
}



.banner h2
{
	
	font-size: 36px;
    line-height: 32px;
    color: #fff;
    display: block;
    padding-top:230px;
    margin: 0px;
    
}
.banner p
{
	width: 40%;
	font-size: 23px;
	color: #ffff;
	text-align: left;
	padding-top: 10px;

}

/*----------section--------------*/

.offer_heading
{
	color: #0072bc;
	text-align: center;
	padding: 0px;
    font-size: 40px;
	font-weight: bold;
	font-family: 'Lato';

	
}


 .offer
 {
 	text-align: center;
 }

 .offer ul
 {
 	
 	margin-top:40px;
 	padding: 0px;
 	overflow: hidden;
 	text-align: center;

 }

 .offer ul li
 {
 	display: inline-block;
 	width: 33%;
 	padding-right: 35px;
 	box-sizing: border-box;
 	vertical-align: top;
 	margin-bottom: 30px;

 }

 .offer ul li:last-child
{
    padding-right: 0;   
}


.offer ul li h3
{
	font-weight: bold;
	color: #0072bc;
	font-size: 22px;
	margin:15px 0px;
	padding: 0px;
}

.offer ul li p
{
	
	color: #3f3e3e;


}

/* section2*/

.our_experience
{
	color: #151515;
	text-align: center;
	padding: 0px;
    font-size: 35px;
	font-weight: bold;
	font-family: 'Lato';
	
}

.wrapper
{
	width: 100%;
	overflow: hidden;
}

.wrapper ul
{
	margin: 46px 0px;
	padding: 0px;
	clear: both;
	width: 100%
}

.wrapper ul li
{
	width: 25%;
	float: left;
	color: #ffff;
	text-align: left;
	padding: 50px 40px;
	overflow: hidden;
	box-sizing: border-box;
}
.wrapper ul li p
{
	width: 210px;
}


.iot
{
 	background: linear-gradient(-90deg, #4d4de5, #5a5aed);
}
.travel
{
 	background: linear-gradient(-90deg, #4e6bff, #6d85fd);
}
.marketing
{
 	background: linear-gradient(-90deg, #3f8fff, #589cfc);
}
.sales
{
 	background: linear-gradient(-90deg, #33aeff, #33aeff);
}

.case_study
{
    text-decoration: none;
    color: #333333;
    background-color: #ffff;
    padding: 10px;
    text-align: center;
    width: 150px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    float: right;
}
.approach_bg
 {

	width: 100%;
    overflow: hidden;
    background-image: url(../images/background.jpg); 
 	background-size: cover;
    display: block; 
    height: 1093px;
   
}
.our_approach
{
	color: #151515;
	text-align: center;
	padding-top: 50px;
    font-size: 35px;
	font-weight: bold;
	font-family: 'Lato';
	margin: 0px;
	
}
.analysis
{
	width: 25%;
	overflow: hidden;
}



.infographics
{
	float: left; 
	margin: 80px 0px 0px 70px;
}
.infographics ul
{
	width: 320px;
	border-left: 2px solid #6e849c;
    
   
   -webkit-padding-start: 0px;
   float:left;
  
}

.infographics ul li
{

	position: relative;
	left: -7px;
	margin-bottom:40px;
	font-size: 19px;
	font-family: 'Lato';
	padding-left: 25px;
	

}


.infographics ul li:before
{
	position: absolute;
	width: 10px;
	height:10px;
	background-color:#6e849c;
	border-radius: 500%;
	content: "";
	top: 0px;
	left: 0px;

}





.infographics h2
{
	margin: 0px;
	padding-bottom: 30px;
	
}





.visualization
{
	float:left;
	text-align: center;
	margin: 60px 0px 0px 70px;
}


.visualization p
{
	font-size: 20px;
	font-family: 'Lato';


}
.visualization_img
{
 	background-image: url(../images/visualization.png);
 	height: 320px;
}


.container-fluid
{
	width: 100%;
	background-color: #4d4de5;
	
}
.container-fluid ul
{
	
	text-align: center;
	-webkit-padding-start: 0px;
	margin: 0px;
	padding: 0px;
	
	

}

.container-fluid ul li
{
	display: inline-block;
	width: 15%;
	margin: 30px 0px;
	height: 81px;

	
}

.container-fluid ul li p
{
	
	color: #ffff;
	font-size: 18px;
	margin-top: 15px;
	vertical-align:middle;
}

.container-fluid img
{
	vertical-align:middle;
}
/*footer*/
.footer_contact
{
	width: 50%;
	background-color: #ffff;
	height: 700px;
	float: left;
}

.contact_us
{
	color: #4074a2;
	text-align:left;
	padding: 50px 0px 30px 0px ;
    font-size: 35px;
	font-weight: bold;
	font-family: 'Lato';
	margin: 0px;
	
}

.contact
{
	width: 80%;
	float: right;
	
}

.footer_contact2
{
	width: 50%;
	background-color: #60c0ff;
	height: 700px;
	float: right;
}

input[type=text], select, textarea
{
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 30px;
}


input[type=submit] {
    background-color: #005e9c;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    text-align: right;
}
